{% extends 'base_profile_owner.html' %}

{% block profile_content %}
    <div class="gray-border m-10 p-15 each-single-post">

        <div class="followers-and-followings">
            <ul>
                <li class="active"><a href="">240k Followers</a></li>
                <li><a href="">240k Following</a></li>
            </ul>
        </div>
        <div class="connection-search-box">
            <div class="ui icon input">
                <input class="prompt Nearby" type="text" placeholder="Search followers" autocomplete="off">
            </div>
        </div>
        <div class="followers-listing">
            <ul>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers1.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers2.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers3.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers4.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers5.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers6.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers7.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers8.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers9.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers10.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui small comments comments-padding">
                        <div class="review-author-rating following-author-rating">
                            <div class="comment">
                                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">
                                    <a class="item">
                                        <div class="avatar-image">
                                            <img src="assets/images/followers11.jpg" alt="" class="imgpreview">
                                        </div>
                                        <div class="avatar-profile-name">
                                            <div class="review-rating customize-review-rating">
                                                <div class="star-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h6>Claudio P.</h6>
                                            <p>Follow</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}