{% extends 'base_profile_owner.html' %}

{% block profile_content %}
    <div class="empty-post text-center profile-owner-text">
        <p>Your profile looks pretty empty, post your first update, service, product, offer,
            event or job.</p>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(document).ready(function () {
            function postFormSubmit() {
                let form = $('#post-updates');
                form.find('textarea').removeClass('invalid');
                form.find('textarea').nextAll().remove();
                form.find('input').removeClass('invalid');
                form.find('input[name="button_link"]').nextAll().remove();
                $.ajax({
                    type: 'POST',
                    url: '/profiles/posts/create/',
                    data: form.serialize(),
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr, statusCode, error) {
                        let messages = xhr.responseJSON;
                        for (key in messages) {
                            if (key === 'description') {
                                form.find('textarea').addClass('invalid');
                                form.find('textarea').after('<label class="error error_show">' + messages[key] + '</label>');
                            }
                            if (key === 'button_link') {
                                form.find('input[name="button_link"]').addClass('invalid');
                                form.find('input[name="button_link"]').after('<label class="error error_show">' + messages[key] + '</label>');
                            }
                        }
                    }
                });
            }

            $('#post-updates input').on('keydown', function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    postFormSubmit();
                }
            });
            $('#post-updates button').on('click', function () {
                postFormSubmit();
            });

            function eventCreateFormSubmit() {
                let form = $('#create-event-form');
                form.find('textarea').removeClass('invalid');
                form.find('textarea').nextAll("span").remove();
                form.find('input').removeClass('invalid');
                form.find('input[name="start_date"]').nextAll("span").remove();
                form.find('input[name="end_date"]').nextAll("span").remove();
                $.ajax({
                    type: 'POST',
                    url: '/profiles/events/create/',
                    data: form.serialize(),
                    success: function () {
                        window.location.reload();
                    },
                    error: function (xhr, statusCode, error) {
                        let messages = xhr.responseJSON;
                        for (key in messages) {
                            if (key === 'title') {
                                form.find('textarea[name="title"]').addClass('invalid');
                                form.find('textarea[name="title"]').after('<span class="error error_show">' + messages[key] + '</span>');
                            }
                            if (key === 'start_date') {
                                form.find('input[name="start_date"]').addClass('invalid');
                                form.find('input[name="start_date"]').after('<span class="error error_show">' + messages[key] + '</span>');
                            }
                            if (key === 'end_date') {
                                form.find('input[name="end_date"]').addClass('invalid');
                                form.find('input[name="end_date"]').after('<span class="error error_show">' + messages[key] + '</span>');
                            }
                            if (key === 'description') {
                                form.find('textarea[name="description"]').addClass('invalid');
                                form.find('textarea[name="description"]').after('<span class="error error_show">' + messages[key] + '</span>');
                            }
                        }
                    }
                });
            }

            $('#create-event-form button').on('click', function () {
                eventCreateFormSubmit();
            });

            $('#create-event-form input').on('keydown', function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    eventCreateFormSubmit();
                }
            });

            function jobCreateFormSubmit() {
                let form = $('#job-create-form');
                form.find('textarea').removeClass('invalid');
                form.find('textarea').nextAll().remove();
                $.ajax({
                    type: 'POST',
                    url: '/profiles/jobs/create/',
                    data: form.serialize(),
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr, statusCode, error) {
                        let messages = xhr.responseJSON;
                        for (key in messages) {
                            if (key === 'title') {
                                form.find('textarea[name="title"]').addClass('invalid');
                                form.find('textarea[name="title"]').after('<label class="error error_show">' + messages[key] + '</label>');
                            }
                            if (key === 'description') {
                                form.find('textarea[name="description"]').addClass('invalid');
                                form.find('textarea[name="description"]').after('<label class="error error_show">' + messages[key] + '</label>');
                            }
                        }
                    }
                })
            }

            $('#job-create-form input').on('keydown', function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    jobCreateFormSubmit();
                }
            });
            $('#job-create-form button').on('click', function () {
                jobCreateFormSubmit();
            });
        })
    </script>
{% endblock %}