{% extends 'base_profile_owner.html' %}

{% load humanize %}

{% block profile_content %}
    {% for post in posts %}
        <div class="gray-border m-10 p-15 each-single-post profile-owner-each-singel-post">
            <div class="post-author-section mobile-post-author-section">
                <div class="ui labeled icon top right pointing dropdown profile-dropdown name-dropdown">
                    <a class="item more-product home-page-profile-dropdown customize-profile-dropdown">
                        <div class="author-image">
                            {% if post.owner.profile.avatar %}
                                <img src="/media/{{ post.owner.profile.avatar }}" alt=""
                                     class="imgpreview landscape">
                            {% else %}
                                {{ user.first_name.0 }}
                            {% endif %}
                        </div>
                        <div class="home-page-each-post-autor-name">
                            <p class="">{{ post.owner.first_name }}&nbsp;{{ post.owner.last_name }}</p>
                        </div>
                    </a>
                    <div class="menu">
                        <div class="item common-dropdown">
                            <ul>
                                <li><a href="#">Message </a></li>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-right three-dots-holder">
                    <div class="ui labeled icon top right pointing dropdown">
                        <a class="item ">
                            <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>
                        </a>
                        <div class="menu">
                            <div class="item common-dropdown">
                                <ul>
                                    <li><a href="#">Edit Post</a></li>
                                    <li><a href="#">Remove Post</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-author-sec-detail-content costomize-post-author-detail-content">
                    <p>{{ post.description }}</p>
                </div>
                <p><span class="">{{ post.updated_at |naturaltime }}</span></p>
            </div>
            {% if post.post_files.count == 1 %}
                <div class="first-image-post">
                    <div class="first-image-post-height">
                        {% with post.post_files.all|first as first_post_file %}
                            <img src="/media/{{ first_post_file.file }}" width="100%" height="auto" border="0" alt=""
                                 class="imgpreview landscape">
                        {% endwith %}
                    </div>
                </div>
            {% elif post.post_files.count > 1 %}
                <div class="post-slider-holder post_slider_{{ post.id }}">
                    <div class="swiper-container post-slider">
                        <div class="swiper-wrapper">
                            {% for post_file in post.post_files.all %}
                                <div class="swiper-slide">
                                    <div class="post-slider-height">
                                        <img src="/media/{{ post_file.file }}" width="100%"
                                             height="auto" alt="" class="imgpreview landscape">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination post-slider-pagination"></div>
                        <!-- Add Arrows -->
                    </div>
                    <div class="swiper-button-next post-slider-next"><i
                            class="fas fa-chevron-right"></i></div>
                    <div class="swiper-button-prev post-slider-prev"><i class="fas fa-chevron-left"></i>
                    </div>
                    <script>

                        var swiper = new Swiper('.post_slider_{{ post.id }} .post-slider', {

                            spaceBetween: 30,

                            loop: true,

                            autoHeight: true,

                            loopFillGroupWithBlank: true,

                            pagination: {

                                el: '.post-slider-pagination',

                                type: 'fraction',

                            },

                            navigation: {

                                nextEl: '.post_slider_{{ post.id }} .post-slider-next',

                                prevEl: '.post_slider_{{ post.id }} .post-slider-prev',

                            },

                        });

                    </script>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <!-- EACH POST -->
    <div class="gray-border m-10 p-15 each-single-post profile-owner-each-singel-post">

        <div class="post-author-section mobile-post-author-section">

            <div class="ui labeled icon top right pointing dropdown profile-dropdown name-dropdown">

                <a class="item more-product home-page-profile-dropdown customize-profile-dropdown">

                    <div class="author-image">

                        <img src="/assets/images/profile-image.jpg" alt="" class="imgpreview landscape">

                    </div>

                    <div class="home-page-each-post-autor-name">

                        <p class="">Robert de Niro</p>

                    </div>

                </a>

                <div class="menu">

                    <div class="item common-dropdown">

                        <ul>

                            <li><a href="">Message </a></li>

                            <li><a href="profile-visitor.html">Profile</a></li>

                            <li><a href="">Report</a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div class="text-right three-dots-holder">

                <div class="ui labeled icon top right pointing dropdown">

                    <a class="item ">

                        <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>

                    </a>

                    <div class="menu">

                        <div class="item common-dropdown">

                            <ul>

                                <li><a href="">Edit Post</a></li>

                                <li><a href="">Remove Post</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="post-author-sec-detail-content costomize-post-author-detail-content">

                <p>Non curabitur gravida arcu ac. Ornare vivamus arcu felis bibendum ut. Ac
                    feugiat sed lectus vestibulum mattis ullamcorper.</p>

            </div>

            <p><span class="">Yesterday at 2:35 PM</span></p>

        </div>

        <!-- POST SLIDER START -->

        <div class="post-slider-holder profile-owner-slider">

            <div class="swiper-container post-slider">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">

                        <div class="post-slider-height">

                            <img src="/assets/images/Login-Page-Background.jpg" width="100%"
                                 height="auto" alt="" class="imgpreview landscape">

                        </div>

                    </div>

                    <div class="swiper-slide">

                        <div class="post-slider-height">

                            <img src="/assets/images/first-post-image.jpg" width="100%"
                                 height="auto" alt="" class="imgpreview landscape">

                        </div>

                    </div>

                </div>

                <!-- Add Pagination -->

                <div class="swiper-pagination post-slider-pagination"></div>

                <!-- Add Arrows -->

            </div>

            <div class="swiper-button-next post-slider-next"><i
                    class="fas fa-chevron-right"></i></div>

            <div class="swiper-button-prev post-slider-prev"><i class="fas fa-chevron-left"></i>
            </div>

            <script>

                var swiper = new Swiper('.profile-owner-slider .post-slider', {

                    spaceBetween: 30,

                    loop: true,

                    autoHeight: true,

                    loopFillGroupWithBlank: true,

                    pagination: {

                        el: '.post-slider-pagination',

                        type: 'fraction',

                    },

                    navigation: {

                        nextEl: '.profile-owner-slider  .post-slider-next',

                        prevEl: '.profile-owner-slider  .post-slider-prev',

                    },

                });

            </script>

        </div>

        <!-- POST SLIDER END -->

        <div class="like-comment-share">

            <div class="like heart" href="javascript:void(0)"><a href="javascript:void(0)"
                                                                 class="active-like"><i
                    class="far fa-heart"></i></a><span class="">240</span></div>

            <div class="like leave-comment" href="javascript:void(0)"><a
                    href="javascript:void(0)" class="focus-comment"><i
                    class="far fa-comment-alt"></i></a> <a href=""><span class="">30</span></a>
            </div>

            <a href="" class="like pull-right m-0"><span class="">Share</span> <i
                    class="far fa-share-square"></i></a>

        </div>

        <div class="ui small comments">

            <form class="ui reply form">

                <div class="field">

                    <textarea placeholder="Comment"></textarea>

                </div>

            </form>

            <div class="comment">

                <!--  -->

                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                    <a class="item">

                        <div class="avatar-image">

                            <img src="/assets/images/slider1.jpg" alt="" class="imgpreview">

                        </div>

                    </a>

                    <div class="menu">

                        <div class="item common-dropdown">

                            <ul>

                                <li><a href="">Message </a></li>

                                <li><a href="profile-visitor.html">Profile</a></li>

                                <li><a href="">Report</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

                <!--  -->

                <div class="content">

                    <p><a href="">Andres Robert</a> eu tincidunt tortor aliquam nulla facilisi
                        cras. Eu turpis egestas pretium aenean pharetra magna ac placerat
                        vestibulum. Nunc consequat interdum varius sit. Morbi tristique senectus
                        et netus.</p>

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                        <a class="item ">

                            <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Report profile</a></li>

                                    <li><a href="">Block user</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                </div>

            </div>

            <div class="comment">

                <!--  -->

                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                    <a class="item">

                        <div class="avatar-image">

                            <img src="/assets/images/avatar2.jpg" class="imgpreview" alt="">

                        </div>

                    </a>

                    <div class="menu">

                        <div class="item common-dropdown">

                            <ul>

                                <li><a href="">Message </a></li>

                                <li><a href="profile-visitor.html">Profile</a></li>

                                <li><a href="">Report</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

                <!--  -->

                <div class="content">

                    <p><a href="">Andres Robert</a> eu tincidunt tortor aliquam nulla facilisi
                        cras. Eu turpis egestas pretium aenean pharetra magna ac placerat
                        vestibulum. Nunc consequat interdum varius sit. Morbi tristique senectus
                        et netus.</p>

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                        <a class="item ">

                            <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Report profile</a></li>

                                    <li><a href="">Block user</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                </div>

                <div class="comments">

                    <div class="comment">

                        <!--  -->

                        <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                            <a class="item">

                                <div class="avatar-image">

                                    <img src="/assets/images/avatar2.jpg" class="imgpreview"
                                         alt="">

                                </div>

                            </a>

                            <div class="menu">

                                <div class="item common-dropdown">

                                    <ul>

                                        <li><a href="">Message </a></li>

                                        <li><a href="profile-visitor.html">Profile</a></li>

                                        <li><a href="">Report</a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                        <!--  -->

                        <div class="content">

                            <p><a href="">Andres Robert</a> eu tincidunt tortor aliquam nulla
                                facilisi cras. Eu turpis egestas pretium aenean pharetra magna
                                ac placerat vestibulum. Morbi tristique senectus et netus.</p>

                            <!--  -->

                            <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                                <a class="item ">

                                                            <span class="three-dots"><i
                                                                    class="fal fa-ellipsis-h"></i></span>

                                </a>

                                <div class="menu">

                                    <div class="item common-dropdown">

                                        <ul>

                                            <li><a href="">Report profile</a></li>

                                            <li><a href="">Block user</a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <!--  -->

                        </div>

                    </div>

                </div>

            </div>

            <p class="view-all-comment"><span class="">3 of 75</span><a href="">View More
                Comments</a></p>

        </div>

    </div>
{% endblock %}