{% extends 'base_profile_owner.html' %}

{% block profile_content %}
    <div class="gray-border m-10 p-15 each-single-post">

        <div class="review-count pull-left">

            <p>240 Reviews</p>

        </div>

        <div class="write-review pull-right">

            <a href="">Write a review</a>

        </div>

        <div class="clearfix"></div>

        <div class="ui small comments comments-padding">

            <div class="review-author-rating">

                <div class="comment">

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">

                        <a class="item">

                            <div class="avatar-image">

                                <img src="/assets/images/avatar1.jpg" alt="" class="imgpreview">

                            </div>

                            <div class="avatar-profile-name">

                                <p>Mavel P.</p>

                            </div>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Message </a></li>

                                    <li><a href="profile-visitor.html">Profile</a></li>

                                    <li><a href="">Report</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                    <div class="review-rating customize-review-rating">

                        <div class="star-rating">

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                        </div>

                    </div>

                </div>

            </div>

            <div class="comment">

                <!--  -->

                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                </div>

                <!--  -->

                <div class="content review-padding">

                    <p>Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Metus
                        vulputate eu scelerisque felis. Ut diam quam nulla porttitor massa id
                        neque aliquam. Magnis dis parturient montes nascetur. </p>

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                        <a class="item ">

                            <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Report profile</a></li>

                                    <li><a href="">Block user</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                </div>

                <div class="date-of-reply">

                    <p>Mar 03, 2019</p>

                    <a class="did-reply">Replied</a>

                </div>

                <div class="comments comments-padding">

                    <div class="comment">

                        <!--  -->

                        <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                            <a class="item owner-reply">

                                <div class="avatar-image">

                                    <span class="profile-icon-chat">R</span>

                                </div>

                                <p>Owner</p>

                            </a>

                            <div class="menu owner-margin">

                                <div class="item common-dropdown">

                                    <ul>

                                        <li><a href="">Message </a></li>

                                        <li><a href="profile-visitor.html">Profile</a></li>

                                        <li><a href="">Report</a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                        <!--  -->

                        <div class="content review-padding">

                            <p><a href="">Andres Robert</a> eu tincidunt tortor aliquam nulla
                                facilisi cras. Eu turpis egestas pretium aenean pharetra magna
                                ac placerat vestibulum. Morbi tristique senectus et netus.</p>

                            <!--  -->

                            <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                                <a class="item ">

                                                            <span class="three-dots"><i
                                                                    class="fal fa-ellipsis-h"></i></span>

                                </a>

                                <div class="menu">

                                    <div class="item common-dropdown">

                                        <ul>

                                            <li><a href="">Report profile</a></li>

                                            <li><a href="">Block user</a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <!--  -->

                        </div>

                        <div class="date-of-reply">

                            <p>Mar 03, 2019</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="ui small comments comments-padding">

            <div class="review-author-rating">

                <div class="comment">

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">

                        <a class="item">

                            <div class="avatar-image">

                                <img src="/assets/images/avatar2.jpg" alt="" class="imgpreview">

                            </div>

                            <div class="avatar-profile-name">

                                <p>Maura B.</p>

                            </div>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Message </a></li>

                                    <li><a href="profile-visitor.html">Profile</a></li>

                                    <li><a href="">Report</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                    <div class="review-rating customize-review-rating">

                        <div class="star-rating">

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                        </div>

                    </div>

                </div>

            </div>

            <div class="comment">

                <!--  -->

                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                </div>

                <!--  -->

                <div class="content review-padding">

                    <p>Reu tincidunt tortor aliquam nulla facilisi cras. Eu turpis egestas
                        pretium aenean pharetra magna ac placerat vestibulum.</p>

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                        <a class="item ">

                            <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Report profile</a></li>

                                    <li><a href="">Block user</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                </div>

                <div class="reply-box">

                    <div class="date-of-reply">

                        <p>Mar 03, 2019</p>

                        <a href="JavaScript:Void(0);" class="reply-text">Reply</a>

                    </div>

                    <div class="review-reply-area" style="display:none">

                        <form class="">

                            <div class="post-form-field service-description m-30">

                                                        <textarea name="Product-Description" rows="" cols=""
                                                                  placeholder=""></textarea>

                            </div>

                            <div class="form-buttons text-right">

                                <a href="javascript:void(0)" class="close_box">Cancel</a>

                                <button>Submit</button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>


        </div>

        <div class="ui small comments comments-padding">

            <div class="review-author-rating">

                <div class="comment">

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">

                        <a class="item">

                            <div class="avatar-image">

                                <img src="/assets/images/avatar2.jpg" alt="" class="imgpreview">

                            </div>

                            <div class="avatar-profile-name">

                                <p>Maura B.</p>

                            </div>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Message </a></li>

                                    <li><a href="profile-visitor.html">Profile</a></li>

                                    <li><a href="">Report</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                    <div class="review-rating customize-review-rating">

                        <div class="star-rating">

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                        </div>

                    </div>

                </div>

            </div>

            <div class="comment">

                <!--  -->

                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                </div>

                <!--  -->

                <div class="content review-padding">

                    <p>Reu tincidunt tortor aliquam nulla facilisi cras. Eu turpis egestas
                        pretium aenean pharetra magna ac placerat vestibulum.</p>

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                        <a class="item ">

                            <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Report profile</a></li>

                                    <li><a href="">Block user</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                </div>

                <div class="reply-box">

                    <div class="date-of-reply">

                        <p>Mar 03, 2019</p>

                        <a href="JavaScript:Void(0);" class="reply-text">Reply</a>

                    </div>

                    <div class="review-reply-area" style="display:none">

                        <form class="">

                            <div class="post-form-field service-description m-30">

                                                        <textarea name="Product-Description" rows="" cols=""
                                                                  placeholder=""></textarea>

                            </div>

                            <div class="form-buttons text-right">

                                <a href="javascript:void(0)" class="close_box">Cancel</a>

                                <button>Submit</button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

        <div class="ui small comments comments-padding">

            <div class="review-author-rating">

                <div class="comment">

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar name-dropdown review-avatar">

                        <a class="item">

                            <div class="avatar-image">

                                <img src="/assets/images/avatar1.jpg" alt="" class="imgpreview">

                            </div>

                            <div class="avatar-profile-name">

                                <p>Andre Q.</p>

                            </div>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Message </a></li>

                                    <li><a href="profile-visitor.html">Profile</a></li>

                                    <li><a href="">Report</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                    <div class="review-rating customize-review-rating">

                        <div class="star-rating">

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                            <i class="fas fa-star"></i>

                        </div>

                    </div>

                </div>

            </div>

            <div class="comment">

                <!--  -->

                <div class="ui labeled icon top right pointing dropdown profile-dropdown avatar">

                </div>

                <!--  -->

                <div class="content review-padding">

                    <p>Reu tincidunt tortor aliquam nulla facilisi cras. Eu turpis egestas
                        pretium aenean pharetra magna ac placerat vestibulum.</p>

                    <!--  -->

                    <div class="ui labeled icon top right pointing dropdown three-dots-holder">

                        <a class="item ">

                            <span class="three-dots"><i class="fal fa-ellipsis-h"></i></span>

                        </a>

                        <div class="menu">

                            <div class="item common-dropdown">

                                <ul>

                                    <li><a href="">Report profile</a></li>

                                    <li><a href="">Block user</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <!--  -->

                </div>

                <div class="reply-box">

                    <div class="date-of-reply">

                        <p>Mar 03, 2019</p>

                        <a href="JavaScript:Void(0);" class="reply-text">Reply</a>

                    </div>

                    <div class="review-reply-area" style="display:none">

                        <form class="">

                            <div class="post-form-field service-description m-30">

                                                        <textarea name="Product-Description" rows="" cols=""
                                                                  placeholder=""></textarea>

                            </div>

                            <div class="form-buttons text-right">

                                <a href="javascript:void(0)" class="close_box">Cancel</a>

                                <button>Submit</button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}