{% extends 'base_user.html' %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="/assets/css/tokenize2.css">
{% endblock %}

{% block content %}
    <div class="pusher">
        <section class="profile-Section">
            <div class="container">
                <!-- BANNER SECTION START -->
                <div class="cover-photo">
                    {% if user.profile.banner %}
                        <img src="/media/{{ user.profile.banner }}" alt="">
                    {% else %}
                        <div class="empty-cover-photo"></div>
                    {% endif %}
                    <div class="camera" id="cover-photo">
                        <i class="far fa-pen"></i>
                    </div>

                    <div class="ui modal photo-upload new-photo-upload" id="cover-photo-popup">
                        <span class="cross-popup"><i class="fas fa-times"></i></span>
                        <div class="sign-up-form-body change-padding">
                            <form class="ui form sign-form cover-photo-wrapper" method="post" action="">
                                <div class="cover-photo-tab new-cover-photo-style">
                                    <h3 class="upload-photo-title upload-photo active">Cover Photo</h3>
                                    <!-- <h3 class="upload-photo-title library-photo">Library</h3> -->
                                </div>
                                <div class="upload-photo-content new-upload-photo-content">
                                    <div class="field photo-list" align="left">
                                        <div id="upload-banner">
                                        </div>
                                        <div class="files-holder">
                                            <input type="file" class="files" name="files" accept="image/*">
                                            <i class="fas fa-camera"></i>
                                        </div>
                                        <div class="ko-progress-circle display-none" data-progress="0">
                                            <div class="ko-circle">
                                                <div class="full ko-progress-circle__slice">
                                                    <div class="ko-progress-circle__fill"></div>
                                                </div>
                                                <div class="ko-progress-circle__slice">
                                                    <div class="ko-progress-circle__fill"></div>
                                                    <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
                                                </div>
                                            </div>
                                            <div class="ko-progress-circle__overlay"></div>
                                        </div>
                                        <span class="remove display-none"><i class="fal fa-trash-alt"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="pop-up-buttons">
                                    <button type="button"
                                            class="ui btn btn-info login-submit-button-blue banner-modal-cancel">
                                        Cancel
                                    </button>
                                    <button type="button"
                                            class="ui btn btn-info login-submit-button-blue profile-photo-submit">
                                        Save Photo
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- BANNER SECTION END -->
                <div class="clearfix"></div>
                <div class="row">
                    <!-- ================ LEFT SIDEBAR START ======================== -->
                    <div class="col-md-3 left-sidebar">
                        <!-- PROFILE DETAILS -->
                        <div class="gray-border m-10 p-15 text-center profile-details">
                            <div class="updated-profile-image {% if not user.profile.avatar %}empty-profile-image{% endif %}">
                                <div class="update-profile-image-wrapper"
                                     {% if not user.profile.avatar %}style="background-color: {{ user.profile.background_color }}"{% endif %}>
                                    {% if user.profile.avatar %}
                                        <img src="/media/{{ user.profile.avatar }}" alt="" class="imgpreview landscape">
                                    {% else %}
                                        {{ user.first_name.0 }}
                                    {% endif %}
                                </div>
                                <div class="profile-image-overlay" id="profile-photo">
                                    <i class="far fa-pen"></i>
                                </div>
                                <div class="ui modal photo-upload new-photo-upload" id="profile-photo-popup">
                                    <span class="cross-popup"><i class="fas fa-times"></i></span>
                                    <div class="sign-up-form-body">
                                        <h1 class="upload-photo-title">Upload Photos</h1>
                                        <form class="ui form sign-form" method="post" action="">
                                            <div class="field photo-list profile-photo-wrapper" align="left">
                                                <div id="upload-avatar">
                                                </div>
                                                <div class="files-holder new-file-holder" style="z-index: 100;">
                                                    <input type="file" class="files" name="files" accept="image/*"/>
                                                    <i class="fas fa-camera"></i>
                                                </div>
                                                <div class="ko-progress-circle display-none" data-progress="0">
                                                    <div class="ko-circle">
                                                        <div class="full ko-progress-circle__slice">
                                                            <div class="ko-progress-circle__fill"></div>
                                                        </div>
                                                        <div class="ko-progress-circle__slice">
                                                            <div class="ko-progress-circle__fill"></div>
                                                            <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
                                                        </div>
                                                    </div>
                                                    <div class="ko-progress-circle__overlay"></div>
                                                </div>
                                                <span class="remove display-none">
                                                <i class="fal fa-trash-alt"></i>
                                            </span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="pop-up-buttons">
                                                <button type="button"
                                                        class="ui btn btn-info login-submit-button-blue profile-modal-cancel">
                                                    Cancel
                                                </button>
                                                <button type="button"
                                                        class="ui btn btn-info login-submit-button-blue profile-photo-submit">
                                                    Save Photo
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <h1><a href="profile-owner.html">Mike’s Bike Shop goes here</a></h1>
                            <p>North Miami, FL</p>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Tab links -->
                        <div class="tab-link-area account-gap">
                            <ul>
                                <li><a href="/accounts/settings/"><span><i class="fal fa-user"></i></span>General</a>
                                </li>
                                <li class="active"><a href="/accounts/biz-info/">
                                    <span><i class="fal fa-store"></i></span>Business Info</a>
                                </li>
                                <li><a href="#"><span><i class="fal fa-lock-alt"></i></span>Privacy</a></li>
                                <li><a href="#"><span><i class="fal fa-bell"></i></span>Notifications</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- ================ LEFT SIDEBAR END ======================== -->
                    <!-- =============== RIGHT GALLERY =================== -->
                    <div class="col-md-9 gallery-right">
                        <!-- EACH POST -->
                        <div class="gray-border m-10 p-20 general-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-heading">
                                        <p><span><i class="fal fa-store"></i></span>Business info</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <form id="biz-info-form">
                                        <div class="row">
                                            {% csrf_token %}
                                            <div class="col-md-12">
                                                <label class="label-genral-form">Legal Business Name
                                                    <span>(Optional)</span> </label>
                                                <div class="row">
                                                    <div class="col-md-8 pr-2">
                                                        <div class="post-form-field m-20">
                                                            {{ form.name }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 pl-2">
                                                        <div class="blank-text">
                                                            <p>If blank, your profile will use your username.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-8 pr-2">
                                                <div class="post-form-field m-20">
                                                    <label class="label-genral-form">Business Location
                                                        <span>(Optional)</span></label>
                                                    {{ form.location }}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-4 pr-2">
                                                <div class="post-form-field m-20">
                                                    <label class="label-genral-form">Business Phone Number</label>
                                                    {{ form.phone }}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <div class="post-form-field m-20">
                                                    <div class="post-form-field service-description">
                                                        <label class="label-genral-form">About</label>
                                                        {{ form.description }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="post-form-field m-20">
                                                    <label class="label-genral-form">Areas you serve <span>(Seperate by coma)</span></label>
                                                    {{ form.areas }}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-8 pr-2">
                                                <div class="post-form-field m-20">
                                                    <label class="label-genral-form">
                                                        Website<span>(Optional)</span>
                                                    </label>
                                                    {{ form.website }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 m-30">
                                                <div class="connection-list m-20">
                                                    <p>Connections</p>
                                                </div>
                                                <div class="connection-social">
                                                    <div class="each-social-connection m-15">
                                                        <div class="social-icon-area pull-left">
                                                            <ul>
                                                                <li>
                                                                    <div class="icons facebook-icon">
                                                                        <span>
                                                                            <span><i
                                                                                    class="fab fa-facebook-f"></i></span>
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li>facebook.com/</li>
                                                            </ul>
                                                        </div>
                                                        <div class="social-button-area pull-left">
                                                            <a href="javascript:void(0)" class="btn btn-primary btn-sm">Connect</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="each-social-connection m-15">
                                                        <div class="social-icon-area pull-left">
                                                            <ul>
                                                                <li>
                                                                    <div class="icons twitter-icon">
                                                                        <span>
                                                                            <span><i class="fab fa-twitter"></i></span>
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li>twitter.com/</li>
                                                            </ul>
                                                        </div>
                                                        <div class="social-button-area pull-left">
                                                            <a href="javascript:void(0)" class="btn btn-primary btn-sm">Connect</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="each-social-connection m-15">
                                                        <div class="social-icon-area pull-left">
                                                            <ul>
                                                                <li>
                                                                    <div class="icons linked-icon">
                                                                        <span>
                                                                            <span><i
                                                                                    class="fab fa-linkedin-in"></i></span>
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li>linkedin.com/</li>
                                                            </ul>
                                                        </div>
                                                        <div class="social-button-area pull-left">
                                                            {% if linkedin_account %}
                                                                <button class="btn btn-primary deactive btn-sm"
                                                                        form="disconnect-linkedin">Disconnect
                                                                </button>
                                                            {% else %}
                                                                <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next=/accounts/biz-info/"
                                                                   class="btn btn-primary btn-sm">Connect</a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="each-social-connection m-15">
                                                        <div class="social-icon-area pull-left">
                                                            <ul>
                                                                <li>
                                                                    <div class="icons pinterest-icon">
                                                                        <span>
                                                                            <span><i class="fab fa-pinterest-p"></i></span>
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li>pinterest.com/</li>
                                                            </ul>
                                                        </div>
                                                        <div class="social-button-area pull-left">
                                                            <a href="javascript:void(0)" class="btn btn-primary btn-sm">Connect</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="each-social-connection m-25">
                                                        <div class="social-icon-area pull-left">
                                                            <ul>
                                                                <li>
                                                                    <div class="icons youtube-icon">
																				<span>
																					<span><i class="fab fa-youtube"></i></span>
																				</span>
                                                                    </div>
                                                                </li>
                                                                <li>youtube.com/</li>
                                                            </ul>
                                                        </div>
                                                        <div class="social-button-area pull-left">
                                                            <a href="javascript:void(0)" class="btn btn-primary btn-sm">Connect</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-4 pr-2 m-30">
                                                <div class="post-form-field">
                                                    <button type="button" class="btn btn-primary btn-sm">Save Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- =============== MIDDLE POST LIST END =================== -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
    </div>
    <div>
    </div>
    {% if linkedin_account %}
        <form id="disconnect-linkedin" action="{% url 'social:disconnect' 'linkedin-oauth2' %}?next=/accounts/biz-info/"
              method="post">
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}

{% block custom_scripts %}
    <script src="/assets/js/tokenize2.min.js"></script>
    <script>
        $(document).ready(function () {
            function bizinfoFormSubmit() {
                let form = $('#biz-info-form');
                $.ajax({
                    type: 'POST',
                    url: '/accounts/biz-info/',
                    data: form.serialize(),
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        let messages = xhr.responseJSON;
                        for (x in messages) {
                            $("#biz-info-form input[name="+ x +"]").addClass('invalid');
                        }
                    }
                })
            }

            $('#biz-info-form input').unbind('keydown').bind('keydown', function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    bizinfoFormSubmit();
                    return false;
                }
            });
            $('#biz-info-form button').on('click', function () {
                bizinfoFormSubmit()
            });
            $('select#id_areas').tokenize2();
        });
    </script>
{% endblock %}