<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<title>CRICLICK</title>
		<link rel="icon" href="/assets/images/fav.png" type="image/png" sizes="32x32">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/jquery-ui.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/css/foopicker.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/calendar.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.min.css" >
		<link rel="stylesheet" type="text/css" href="/assets/css/imageuploadify.min.css" >
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css" >
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/fontawesome-pro/css/all.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/swiper.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/semantic.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/mediaquery.css">
		<!-- JS -->
		<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/semantic.js"></script>
		<script type="text/javascript" src="/assets/js/swiper.js"></script>
		<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="/assets/js/imageuploadify.js"></script>
		<script type="text/javascript" src="/assets/js/foopicker.js"></script>
		<script type="text/javascript" src="/assets/js/calendar.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.autocomplete.multiselect.js"></script>
		<script type="text/javascript" src="/assets/js/custom.js"></script>
	</head>
	<body>
		<div class="registration-content">
			<div class="registration-info">
				<div class="registration-info-logo text-center">
					<div class="site-logo">
						<a href="/">
						<?xml version="1.0" encoding="utf-8"?>
						<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 316.7 78" style="enable-background:new 0 0 316.7 78;" xml:space="preserve">
						<style type="text/css">
							.st0 {fill:#0C77BF}
							.st1{fill:#001026;}
						</style>
						<polygon class="st0" points="28.8,21.3 64.2,21.3 64.2,28.6 52,36.9 52,28.5 41.1,28.5 41.1,49.4 52.2,49.4 75.1,33.8 75.1,26.1
							75.1,10.4 17.9,10.4 17.9,67.6 75.1,67.6 75.1,40.8 64.2,48.2 64.2,56.7 28.8,56.7 "/>
						<g>
							<path class="st1" d="M86.5,38.1c0-9.8,7.4-16.3,17.1-16.3c7.6,0,11.7,4.3,13.8,8.4l-7,3.4c-1-2.5-3.7-4.6-6.8-4.6
								c-5.2,0-8.8,3.9-8.8,9.1s3.6,9.1,8.8,9.1c3,0,5.7-2.1,6.8-4.6l7,3.3c-2,4-6.2,8.5-13.8,8.5C93.9,54.4,86.5,47.8,86.5,38.1z"/>
							<path class="st1" d="M138.5,53.8l-5.3-10.6H129v10.6h-8.1V22.2h15.8c7,0,11,4.6,11,10.5c0,5.5-3.3,8.4-6.3,9.5l6.4,11.6
								C147.8,53.8,138.5,53.8,138.5,53.8z M139.4,32.7c0-2.2-1.8-3.4-3.9-3.4H129v6.8h6.4C137.6,36.1,139.4,34.9,139.4,32.7z"/>
							<path class="st1" d="M152.2,53.8V22.2h8.1v31.6C160.3,53.8,152.2,53.8,152.2,53.8z"/>
							<path class="st1" d="M164.4,38.1c0-9.8,7.4-16.3,17.1-16.3c7.6,0,11.7,4.3,13.8,8.4l-7,3.4c-1-2.5-3.7-4.6-6.8-4.6
								c-5.2,0-8.8,3.9-8.8,9.1s3.6,9.1,8.8,9.1c3,0,5.7-2.1,6.8-4.6l7,3.3c-2,4-6.2,8.5-13.8,8.5C171.8,54.4,164.4,47.8,164.4,38.1z"/>
							<path class="st1" d="M198.6,53.8V22.2h8.1v24.5h12.7v7.1H198.6z"/>
							<path class="st1" d="M223.6,53.8V22.2h8.1v31.6C231.7,53.8,223.6,53.8,223.6,53.8z"/>
							<path class="st1" d="M235.9,38.1c0-9.8,7.4-16.3,17.1-16.3c7.6,0,11.7,4.3,13.8,8.4l-7,3.4c-1-2.5-3.7-4.6-6.8-4.6
								c-5.2,0-8.8,3.9-8.8,9.1s3.6,9.1,8.8,9.1c3,0,5.7-2.1,6.8-4.6l7,3.3c-2,4-6.2,8.5-13.8,8.5C243.2,54.4,235.9,47.8,235.9,38.1z"/>
							<path class="st1" d="M288.8,53.8l-8.3-11.9l-2.1,2.7v9.2h-8.1V22.2h8.1v13l9.7-13h10L285.9,37l12.9,16.8H288.8z"/>
						</g>
						</svg>
						</a>
					</div>
				</div>
				<div class="tanks-text text-center">
					<h3>Set New Password</h3>
					<div class="input-code">
						<form action="" id="password-form">
                            <input value="{{ csrf_token }}" name="csrfmiddlewaretoken" id="password_csrfmiddlewaretoken" type="hidden" class="valid">
							<div class="form-group field">
                                <input type="password" name="new_password1" id="password_new_password1" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group field">
                                <input type="password" name="new_password2" id="password_new_password2" class="form-control" placeholder="Password Confirmation">
                            </div>
							<div class="text-center">
								<span id="password_error-message" class="errormessage error extra-error"></span>
							</div>
							<button type="button" class="validate-button btn btn-primary btn-sm" id="submit-password">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="registration-footer text-center">
				<div class="footer-social">
					<ul>
						<li>
							<a href="">
								<span>
									<span><i class="fab fa-facebook-f"></i></span>
								</span>
							</a>
						</li>
						<li>
							<a href="">
								<span>
									<span><i class="fab fa-twitter"></i></span>
								</span>
							</a>
						</li>
						<li>
							<a href="">
								<span>
									<span><i class="fab fa-instagram"></i></span>
								</span>
							</a>
						</li>
						<li>
							<a href="">
								<span>
									<span><i class="fab fa-pinterest-p"></i></span>
								</span>
							</a>
						</li>
						<li>
							<a href="">
								<span>
									<span><i class="fab fa-linkedin-in"></i></span>
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="">About</a></li>
						<li><a href="">Cookies</a></li>
						<li><a href="">Privacy</a></li>
						<li><a href="">Help</a></li>
					</ul>
				</div>
				<p>© Criclick 2019.</p>
			</div>
		</div>
	</body>
</html>
