{% extends 'base_user.html' %}

{% block javascript_plugins %}
{% endblock %}

{% block custom_stylesheets %}

    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="pusher">

        <section class="profile-Section">

            <div class="container">

                <!-- BANNER SECTION START -->

                <div class="cover-photo responsive-cover-photo-position">
                    {% if user.profile.banner %}
                        <img src="/media/{{ user.profile.banner }}" alt="">
                    {% else %}
                        <div class="empty-cover-photo"></div>
                    {% endif %}

                    <div class="camera" id="cover-photo">

                        <i class="far fa-pen"></i>

                    </div>

                    <!-- ==============CRREATE POST POPUP END=========== -->

                    <div class="ui modal photo-upload new-photo-upload" id="cover-photo-popup">
                        <span class="cross-popup"><i class="fas fa-times"></i></span>
                        <div class="sign-up-form-body change-padding">
                            <form class="ui form sign-form cover-photo-wrapper" method="post" action="">
                                <div class="cover-photo-tab new-cover-photo-style">
                                    <h3 class="upload-photo-title upload-photo active">Cover Photo</h3>
                                    <!-- <h3 class="upload-photo-title library-photo">Library</h3> -->
                                </div>
                                <div class="upload-photo-content new-upload-photo-content">
                                    <div class="field photo-list" align="left">
                                        <div id="upload-banner">
                                        </div>
                                        <div class="files-holder">
                                            <input type="file" class="files" name="files" accept="image/*">
                                            <i class="fas fa-camera"></i>
                                        </div>
                                        <div class="ko-progress-circle display-none" data-progress="0">
                                            <div class="ko-circle">
                                                <div class="full ko-progress-circle__slice">
                                                    <div class="ko-progress-circle__fill"></div>
                                                </div>
                                                <div class="ko-progress-circle__slice">
                                                    <div class="ko-progress-circle__fill"></div>
                                                    <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
                                                </div>
                                            </div>
                                            <div class="ko-progress-circle__overlay"></div>
                                        </div>
                                        <span class="remove display-none"><i class="fal fa-trash-alt"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="pop-up-buttons">
                                    <button type="button"
                                            class="ui btn btn-info login-submit-button-blue banner-modal-cancel">
                                        Cancel
                                    </button>
                                    <button type="button"
                                            class="ui btn btn-info login-submit-button-blue profile-photo-submit">
                                        Save Photo
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- ============= CRREATE POST POPUP END ============= -->

                </div>

                <!-- BANNER SECTION END -->

                <div class="clearfix"></div>

                <div class="row">

                    <!-- ================ LEFT SIDEBAR START ======================== -->

                    <div class="col-md-3 left-sidebar">

                        <!-- PROFILE DETAILS -->

                        <div class="gray-border m-10 p-15 text-center profile-details">

                            <div class="updated-profile-image {% if not user.profile.avatar %}empty-profile-image{% endif %}">

                                <div class="update-profile-image-wrapper"
                                     {% if not user.profile.avatar %}style="background-color: {{ user.profile.background_color }}"{% endif %}>
                                    {% if user.profile.avatar %}
                                        <img src="/media/{{ user.profile.avatar }}" alt="" class="imgpreview landscape">
                                    {% else %}
                                        {{ user.first_name.0 }}
                                    {% endif %}
                                </div>

                                <div class="profile-image-overlay" id="profile-photo">
                                    <i class="far fa-pen"></i>
                                </div>

                                <!-- ==============CRREATE POST POPUP END=========== -->

                                <div class="ui modal photo-upload new-photo-upload" id="profile-photo-popup">
                                    <span class="cross-popup"><i class="fas fa-times"></i></span>
                                    <div class="sign-up-form-body">
                                        <h1 class="upload-photo-title">Upload Photos</h1>
                                        <form class="ui form sign-form" method="post" action="">
                                            <div class="field photo-list profile-photo-wrapper" align="left">
                                                <div id="upload-avatar">
                                                </div>
                                                <div class="files-holder new-file-holder" style="z-index: 100;">
                                                    <input type="file" class="files" name="files" accept="image/*"/>
                                                    <i class="fas fa-camera"></i>
                                                </div>
                                                <div class="ko-progress-circle display-none" data-progress="0">
                                                    <div class="ko-circle">
                                                        <div class="full ko-progress-circle__slice">
                                                            <div class="ko-progress-circle__fill"></div>
                                                        </div>
                                                        <div class="ko-progress-circle__slice">
                                                            <div class="ko-progress-circle__fill"></div>
                                                            <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
                                                        </div>
                                                    </div>
                                                    <div class="ko-progress-circle__overlay"></div>
                                                </div>
                                                <span class="remove display-none">
                                                    <i class="fal fa-trash-alt"></i>
                                                </span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="pop-up-buttons">
                                                <button type="button"
                                                        class="ui btn btn-info login-submit-button-blue profile-modal-cancel">
                                                    Cancel
                                                </button>
                                                <button type="button"
                                                        class="ui btn btn-info login-submit-button-blue profile-photo-submit">
                                                    Save Photo
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- ============= CRREATE POST POPUP END ============= -->

                            </div>

                            <h1><a href="/{{ request.user.username }}/">{{ request.user.business_info.name }}</a></h1>

                            <p>{{ request.user.profile.location }}</p>

                            <div class="clearfix"></div>

                        </div>

                        <!-- Tab links -->

                        <div class="tab-link-area account-gap mob-display-none">

                            <ul>

                                <li class="active"><a href="/accounts/settings/"><span><i
                                        class="fal fa-user"></i></span>General</a>
                                </li>

                                <li><a href="/accounts/biz-info/"><span><i class="fal fa-store"></i></span>Business
                                    Info</a></li>

                                <li><a href="#"><span><i class="fal fa-lock-alt"></i></span>Privacy</a></li>

                                <li><a href="#"><span><i class="fal fa-bell"></i></span>Notifications</a></li>

                            </ul>

                        </div>

                    </div>

                    <!-- ================ LEFT SIDEBAR END ======================== -->

                    <!-- =============== RIGHT GALLERY =================== -->

                    <div class="col-md-9 gallery-right">

                        <!-- EACH POST -->

                        <div class="gray-border m-10 p-20 general-form">

                            <div class="row">

                                <div class="col-md-12">

                                    <div class="tab-heading mob-heading">

                                        <p><span><i class="fal fa-user"></i></span>General</p>

                                    </div>

                                    <div class="heading-separetor"></div>

                                </div>

                                <div class="col-md-12">

                                    <form id="setting-form">
                                        {% csrf_token %}

                                        <div class="row">

                                            <div class="col-md-4">

                                                <div class="post-form-field m-30">

                                                    <label class="label-genral-form">First name</label>

                                                    <input type="text" name="first_name" placeholder="First name"
                                                           value="{{ user.first_name }}">

                                                </div>

                                            </div>

                                            <div class="col-md-4">

                                                <div class="post-form-field m-30">

                                                    <label class="label-genral-form">Last name</label>

                                                    <input type="text" name="last_name" placeholder="Last name"
                                                           value="{{ user.last_name }}">

                                                </div>

                                            </div>

                                            <div class="col-md-4">

                                                <div class="post-form-field m-30">

                                                    <div class="post-form-field password-current">

                                                        <button class="btn btn-primary btn-sm" type="button">Change
                                                            Password
                                                        </button>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="col-md-4 pr-2">

                                                <div class="post-form-field m-30 username-feild">

                                                    <label class="label-genral-form">Username</label>
                                                    <input type="text" name="username" placeholder="Username"
                                                           value="{{ user.username }}">

                                                    {#                                                    <input type="text" name="username"#}
                                                    {#                                                           class="username-input used-username-error"#}
                                                    {#                                                           placeholder="Username" value="{{ user.username }}">#}

                                                    <p class="verified-link username-error" id="username-error"
                                                       hidden></p>

                                                    <span class="right-tick"><i class="fal fa-check"></i></span>

                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="col-md-8">

                                                <div class="post-form-field m-30">

                                                    <label class="label-genral-form">Email Address</label>

                                                    <input type="text" name="email" placeholder="Email Address"
                                                           value="{{ user.email }}">

                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="col-md-4 pr-2">

                                                <div class="post-form-field m-30 phone-number-feild">

                                                    <label class="label-genral-form">Phone Number<span> (For verification purpose only) </span></label>

                                                    <input type="text" name="phone" placeholder="Phone Number"
                                                           value="{{ user.phone |default_if_none:'' }}"
                                                           class="phn-number">
                                                    {% if user.phone_verified_at %}
                                                        <a href="javascript:;" class="verified-link"
                                                           id="phone-verified">Verified</a>
                                                    {% else %}
                                                        {% if user.phone %}
                                                            <a href="javascript:;" class="verified-link"
                                                               id="phone-verified"
                                                               hidden>Verified</a>
                                                            <a href="javascript:;" class="verify-link"
                                                               id="verify-phone">Verify</a>
                                                            <a href="javascript:;" class="resend-link"
                                                               id="resend-sms-code">Resend</a>
                                                        {% endif %}
                                                    {% endif %}

                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="col-md-8">

                                                <div class="post-form-field m-30">

                                                    <label class="label-genral-form">Location</label>

                                                    <input type="text" name="location" placeholder="Location"
                                                           value="{{ user.profile.location|default_if_none:'' }}">
                                                    <input type="hidden" name="latitude" value="0">
                                                    <input type="hidden" name="longitude" value="0">

                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="col-md-4 pr-2 m-30">

                                                <div class="post-form-field">

                                                    <button class="btn btn-primary btn-sm" type="button"
                                                            id="save-account-setting">Save Changes
                                                    </button>

                                                </div>

                                            </div>

                                        </div>

                                    </form>

                                    <a href="" class="delete-link m-15">Delete my account</a>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="clearfix"></div>

                </div>

            </div>

            <!-- ===========Change Password=========== -->

            <div class="ui modal password-popup">

                <div class="password-popup-heading">Change Password</div>

                <div class="password-form">

                    <form class="" id="change-password-form">
                        {% csrf_token %}

                        <div id="" class="row">

                            <div class="col-md-12">

                                <div class="post-form-field m-15">

                                    <input type="password" name="old_password" placeholder="Current password">

                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="post-form-field m-15">

                                    <input type="password" name="new_password1" placeholder="New Password">

                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="post-form-field m-10">

                                    <input type="password" name="new_password2" placeholder="Confirm Password">

                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="password-miss-match text-center m-10" id="change-password-errors" hidden>
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="post-form-field">

                                    <button class="btn btn-primary btn-sm" type="button" id="change-password-submit">
                                        Save Changes
                                    </button>

                                </div>

                            </div>

                        </div>

                    </form>

                    <h3 class="forgot-password-for-profile text-center">

                        <a href="javascript:void(0)">Forgot Password?</a>

                    </h3>

                </div>

            </div>

            <!-- ===========Forgot Password=========== -->

            <div class="ui modal forgot-password">

                <div class="password-popup-heading forgot-passwod-hedaing">Forgot Password</div>

                <div class="password-form">

                    <h4>Send link via email</h4>

                    <p>{{ hidden_email }}</p>
                    <div class="text-center">
                        <span id="send-link-error" class="extra-error text-primary"></span>
                    </div>

                    <div class="password-link-button text-center">

                        <a href="javascript:;" class="btn btn-primary btn-sm" id="send-password-link">Continue</a>

                        <a href="javascript:void(0)" class="btn btn-primary btn-sm line-button not-you">Not You?</a>

                    </div>

                </div>

            </div>

            <!-- ===========Enter Your Mail=========== -->

            <div class="ui modal enter-your-mail">

                <div class="password-popup-heading forgot-passwod-hedaing">Forgot Password</div>

                <div class="password-form enter-email">

                    <form id="reset_password_form">
                        <input value="{{ csrf_token }}" name="csrfmiddlewaretoken"
                               id="reset_password_csrfmiddlewaretoken" type="hidden" class="valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-form-field m-15">
                                    <input type="email" name="email" id="reset_password_email" class="form-control"
                                           placeholder="Enter your email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="password-miss-match text-center m-10">
                                    <p id="reset_password_error_message"></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-form-field text-center">
                                    <button type="button" id="reset_password_submit" class="btn btn-primary btn-sm">
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

            <!-- =============== MIDDLE POST LIST END =================== -->
            <div class="ui modal phone-popup">

                <div class="password-popup-heading forgot-passwod-hedaing">Phone Verification</div>

                <div class="password-form enter-email">

                    <form id="phone-verify-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-form-field m-15">
                                    <input type="text" name="phone_verify_code" class="form-control"
                                           placeholder="Enter verify code">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="password-miss-match text-center m-10">
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-form-field text-center">
                                    <button type="button" class="btn btn-primary btn-sm" id="submit-phone-verify">
                                        Verify
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </section>

    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}