<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<title>CRICLICK</title>
		<link rel="icon" href="/assets/images/fav.png" type="image/png" sizes="32x32">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/jquery-ui.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/css/foopicker.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/calendar.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.min.css" >
		<link rel="stylesheet" type="text/css" href="/assets/css/imageuploadify.min.css" >
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css" >
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/fontawesome-pro/css/all.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/swiper.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/semantic.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/mediaquery.css">
		<!-- JS -->    
		<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/semantic.js"></script>
		<script type="text/javascript" src="/assets/js/swiper.js"></script>
		<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="/assets/js/imageuploadify.js"></script>
		<script type="text/javascript" src="/assets/js/foopicker.js"></script>
		<script type="text/javascript" src="/assets/js/calendar.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.autocomplete.multiselect.js"></script>
		<script type="text/javascript" src="/assets/js/custom.js"></script>
	</head>
	<body>
	<!-- ===========HEADER START============== -->
	<header class="site-header for-ligin-page">
		<div class="container">
			<div class="site-logo">
				<a href="index.html">
				<?xml version="1.0" encoding="utf-8"?>
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 316.7 78" style="enable-background:new 0 0 316.7 78;" xml:space="preserve">
				<style type="text/css">
					.st0 {fill:#0C77BF}
					.st1{fill:#001026;}
				</style>
				<polygon class="st0" points="28.8,21.3 64.2,21.3 64.2,28.6 52,36.9 52,28.5 41.1,28.5 41.1,49.4 52.2,49.4 75.1,33.8 75.1,26.1 
					75.1,10.4 17.9,10.4 17.9,67.6 75.1,67.6 75.1,40.8 64.2,48.2 64.2,56.7 28.8,56.7 "/>
				<g>
					<path class="st1" d="M86.5,38.1c0-9.8,7.4-16.3,17.1-16.3c7.6,0,11.7,4.3,13.8,8.4l-7,3.4c-1-2.5-3.7-4.6-6.8-4.6
						c-5.2,0-8.8,3.9-8.8,9.1s3.6,9.1,8.8,9.1c3,0,5.7-2.1,6.8-4.6l7,3.3c-2,4-6.2,8.5-13.8,8.5C93.9,54.4,86.5,47.8,86.5,38.1z"/>
					<path class="st1" d="M138.5,53.8l-5.3-10.6H129v10.6h-8.1V22.2h15.8c7,0,11,4.6,11,10.5c0,5.5-3.3,8.4-6.3,9.5l6.4,11.6
						C147.8,53.8,138.5,53.8,138.5,53.8z M139.4,32.7c0-2.2-1.8-3.4-3.9-3.4H129v6.8h6.4C137.6,36.1,139.4,34.9,139.4,32.7z"/>
					<path class="st1" d="M152.2,53.8V22.2h8.1v31.6C160.3,53.8,152.2,53.8,152.2,53.8z"/>
					<path class="st1" d="M164.4,38.1c0-9.8,7.4-16.3,17.1-16.3c7.6,0,11.7,4.3,13.8,8.4l-7,3.4c-1-2.5-3.7-4.6-6.8-4.6
						c-5.2,0-8.8,3.9-8.8,9.1s3.6,9.1,8.8,9.1c3,0,5.7-2.1,6.8-4.6l7,3.3c-2,4-6.2,8.5-13.8,8.5C171.8,54.4,164.4,47.8,164.4,38.1z"/>
					<path class="st1" d="M198.6,53.8V22.2h8.1v24.5h12.7v7.1H198.6z"/>
					<path class="st1" d="M223.6,53.8V22.2h8.1v31.6C231.7,53.8,223.6,53.8,223.6,53.8z"/>
					<path class="st1" d="M235.9,38.1c0-9.8,7.4-16.3,17.1-16.3c7.6,0,11.7,4.3,13.8,8.4l-7,3.4c-1-2.5-3.7-4.6-6.8-4.6
						c-5.2,0-8.8,3.9-8.8,9.1s3.6,9.1,8.8,9.1c3,0,5.7-2.1,6.8-4.6l7,3.3c-2,4-6.2,8.5-13.8,8.5C243.2,54.4,235.9,47.8,235.9,38.1z"/>
					<path class="st1" d="M288.8,53.8l-8.3-11.9l-2.1,2.7v9.2h-8.1V22.2h8.1v13l9.7-13h10L285.9,37l12.9,16.8H288.8z"/>
				</g>
				</svg>
				</a>
			</div>
			<div class="search-bar hidden-xs hidden-sm">
				<div class="ui search service">
				  <div class="ui icon input">
					<input class="prompt by-service" type="text" placeholder="Search for services">
				  </div>
				  <div class="results"></div>
				</div>
				<div class="ui search serch_location">
					<div class="ui icon input">
						<input class="prompt Nearby" type="text" placeholder="Nearby">
						<i class="search icon link"></i>
					</div>
					<div class="results"></div>
				</div>
			</div>
			<nav class="site-navigation hidden-xs hidden-sm">
				<ul>
					<li><a href="javascript:void(0)" class="sign-in-popup" >Login</a></li>
					<li><a href="javascript:void(0)" class="sign-up-popup" >Sign up</a></li>
				</ul>				
			</nav>
			<div class="visible-sm visible-xs">
				<div class="column">
					<div class="ui menu">
						<a id="mobile_item" class="item"><i class="bars icon"></i></a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</header>
	<script>
		var serch_location = [
			{ title: 'Andorra' },
			{ title: 'United Arab Emirates' },
			{ title: 'Afghanistan' },
			{ title: 'Antigua' },
			{ title: 'Anguilla' },
			{ title: 'Albania' },
			{ title: 'Armenia' },
			{ title: 'Netherlands Antilles' },
			{ title: 'Angola' },
			{ title: 'Argentina' },
			{ title: 'American Samoa' },
			{ title: 'Austria' },
			{ title: 'Australia' },
			{ title: 'Aruba' },
			{ title: 'Aland Islands' },
			{ title: 'Azerbaijan' },
			{ title: 'Bosnia' },
			{ title: 'Barbados' },
			{ title: 'Bangladesh' },
			{ title: 'Belgium' },
			{ title: 'Burkina Faso' },
			{ title: 'Bulgaria' },
			{ title: 'Bahrain' },
			{ title: 'Burundi' }
			// etc
		];
		var service = [
			{ title: 'Service One' },
			{ title: 'Service Two' },
			{ title: 'Service Three' },
			{ title: 'Service Four' }
			// etc
		];
		$('.ui.search.serch_location')
			.search({
			source: serch_location,
			searchFields   : [
			  'title'
			],
			fullTextSearch: false
		});
		$('.ui.search.service')
			.search({
			source: service,
			searchFields   : [
			  'title'
			],
			fullTextSearch: false
		});

	</script>
	<!-- ===========HEADER END========= -->
	<div class="ui pushable segment">
		<!-- MOBILE NAVIGATION START -->
		<div class="ui sidebar vertical menu">
			<div class="col-md-12">
			<a href="javascript:void(0)" class="sign-in-popup item" >Login</a>
			<a href="javascript:void(0)" class="sign-up-popup item" >Sign up</a>
			<button class="ui primary button btn-block login-submit-button">Post</button>
			</div>
		</div>
		<!-- MOBILE NAVIGATION END -->
		<div class="pusher">
			<section class="login-page-section for-ligin-page">
				<div class="container">
					<!-- ========sign-in========== -->
					<div class="ui modal sign-in">				
						<div class="sign-up-form-body">
							<h1 class="login-form-title">Login</h1>
							<div class="facebook-or-google">
								<button class="btn facebook-button"><i class="fab fa-facebook-f" ></i>&nbsp; Sign in with Facebook</button>
								<button onclick="window.location.href='{% url "social:begin" "google-oauth2" %}'" class="btn fluid google-button"><i class="fab fa-google" ></i>&nbsp; Sign in with Google Account</button>
								<h3 class="or-sign-up">or sign in with an email address</h3>
							</div>
							<form class="ui form sign-form" id="login-form">
                                <input value="{{ csrf_token }}" name="csrfmiddlewaretoken" id="login_csrfmiddlewaretoken" type="hidden" class="valid">
								<div class="form-group field">
									<input type="email" name="username" id="login_username" class="form-control" placeholder="Email Address">
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-7 col-md-7">
										<div class="form-group field">
											<input type="password" name="password" id="login_password" class="form-control" placeholder="Password">
										</div>
									</div>
									<div class="col-xs-12 col-sm-5 col-md-5 mobile-remember-me">
										<div class="ui checkbox">
										  <input type="checkbox" name="remember_me" id="login_remember_me" class="valid">
										  <label>Remember Me</label>
										</div>										
									</div>
								</div>
								<button type="button"  id="login-submit" class="ui btn btn-info btn-block login-submit-button-blue signin-form">Login</button>
								<div class="text-center">
									<span id="login_error-message" class="errormessage error"></span>
                                    <span id="login_error-message" class="errormessage error"></span>
								</div>
							</form>							
						</div>
						<h3 class="or-sign-up or-sign-up-bottom have-account"><a href="javascript:void(0)"  class="Reset-Password-popup">Forgot Password?</a><br>Don’t have an account? <a href="javascript:void(0)" class="Sign-In-link sign-up-popup ">Sign Up</a></h3>
					</div>
					<!-- ===========sign-up=========== -->
					<div class="ui modal sign-up">
						<div class="sign-up-form-body">
							<h2 class="login-form-title">Sign Up</h2>
							<div class="facebook-or-google">
								<button class="btn facebook-button"><i class="fab fa-facebook-f" ></i>&nbsp; Sign in with Facebook</button>
								<button onclick="window.location.href='{% url "social:begin" "google-oauth2" %}'" class="btn fluid google-button"><i class="fab fa-google" ></i>&nbsp; Sign in with Google Account</button>
								<h3 class="or-sign-up">or sign up with an email address</h3>
							</div>
							<form  class="ui form sign-form signup-form-validation" id="signup-form">
                                <input value="{{ csrf_token }}" name="csrfmiddlewaretoken" id="signup_csrfmiddlewaretoken" type="hidden" class="valid">
								<div class="row name-area">
									<div class="col-sm-6">
										<div class="form-group field">
											<input type="text" name="first_name" id="signup_first_name" class="form-control" placeholder="First name">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group field">
											<input type="text" name="last_name" id="signup_last_name" class="form-control" placeholder="Last name">
										</div>
									</div>
								</div>
								<div class="form-group field">
									<input type="email" name="email" id="signup_email" class="form-control" placeholder="Email Address">
								</div>
								<div class="form-group field">
									<input type="password" name="password1" id="signup_password1" class="form-control" placeholder="Password">
								</div>
                                <div class="form-group field">
									<input type="password" name="password2" id="signup_password2" class="form-control" placeholder="Password Confirmation">
								</div>
								
								<button type="button" id="signup-submit" class="btn btn-info btn-block login-submit-button-blue">Sign up</button>
								<div class="text-center">
									<span id="signup_error-message" class="errormessage error"></span>
								</div>
							</form>
							
						</div>
						<h3 class="or-sign-up or-sign-up-bottom have-account">Already have an account? <a href="javascript:void(0)" class="Sign-In-link sign-in-popup">Login!</a></h3>
					</div>	
					<!-- ========Forgot Password========= -->
					<div class="ui modal Reset-Password">
						<div class="sign-up-form-body">
							<h2 class="login-form-title">Forgot Password?</h2>
							<div class="facebook-or-google">						
								<h3 class="or-sign-up">Enter the email address you used to register, and we will send you a secure link to reset your password.</h3>
							</div>
							<form  class="ui form sign-form" method="post" id="reset_password_form">
                                <input value="{{ csrf_token }}" name="csrfmiddlewaretoken" id="reset_password_csrfmiddlewaretoken" type="hidden" class="valid">
								<div class="form-group field">
									<input type="email" name="email" id="reset_password_email" class="form-control" placeholder="Email Address">
								</div>
								<button type="button" id="reset_password_submit" class="btn btn-info btn-block login-submit-button-blue">Reset Password</button>
								<div class="text-center">
									<span id="reset_password_error_message" class="errormessage error"></span>
								</div>
							</form>							
						</div>
						<h3 class="or-sign-up or-sign-up-bottom have-account">Already have an account? <a href="javascript:void(0)" class="Sign-In-link sign-in-popup ">Login!</a></h3>
					</div>		  
				</div> <!-- /container -->
			</section>
		</div>
	</div>    
  </body>
</html>
